<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.4.7" targetFramework="net47" />
  <package id="AvalonEdit" version="5.0.4" targetFramework="net47" />
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net47" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net47" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net47" />
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net47" />
  <package id="Fluent.Ribbon" version="6.1.0.233" targetFramework="net47" />
  <package id="FluentValidation" version="7.5.2" targetFramework="net47" />
  <package id="Fody" version="3.0.1" targetFramework="net47" developmentDependency="true" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net47" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net47" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net47" />
  <package id="Microsoft.Azure.DocumentDB" version="1.21.1" targetFramework="net47" />
  <package id="MvvmLight" version="5.4.1" targetFramework="net47" />
  <package id="MvvmLightLibs" version="5.4.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="PropertyChanged.Fody" version="2.3.0" targetFramework="net47" developmentDependency="true" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net47" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="Validar.Fody" version="1.7.0" targetFramework="net47" developmentDependency="true" />
  <package id="WpfAnimatedGif" version="1.4.15" targetFramework="net47" />
</packages>