<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CosmosDbExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CosmosDbExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CosmosDbExplorer.Properties.Settings>
            <setting name="EditorFontName" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxDocumentToRetrieve" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DialogService" serializeAs="String">
                <value>Metro</value>
            </setting>
            <setting name="ExecuteGesture" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableFolding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FoldingRootElement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathOnTab" serializeAs="String">
                <value>False</value>
            </setting>
        </CosmosDbExplorer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CosmosDbExplorer.Properties.Settings>
            <setting name="AutoUpdaterUrl" serializeAs="String">
                <value>https://www.bruttin.com/CosmosDbExplorer/autoupdate.json</value>
            </setting>
        </CosmosDbExplorer.Properties.Settings>
    </applicationSettings>
</configuration>